@import "tailwindcss";

html,
body {
  width: 100dvw;
  overflow: hidden;
  height: 100dvh;
  background-image: url("/images/wallpaper.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@theme {
  --color-light-green: #8c9e76;
  --color-dark-green: #284b00;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer base {
  main {
    @apply h-dvh w-dvw overflow-hidden;
  }
}
